[package]
name = "hyperion-text"
edition.workspace = true
version.workspace = true
publish = false
readme = "README.md"

[dependencies]
valence_protocol.workspace = true

serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
uuid.workspace = true

[lints]
workspace = true
