[package]
name = "hyperion-clap-macros"
edition.workspace = true
version.workspace = true
publish = false
readme = "README.md"

[lib]
proc-macro = true

[dependencies]
quote.workspace = true
syn.workspace = true

[lints]
workspace = true
